<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>MobileTemplate</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>FragmentMono-Italic.ttf</string>
		<string>FragmentMono-Regular.ttf</string>
		<string>Helvetica-Bold.ttf</string>
		<string>Helvetica-Regular.ttf</string>
		<string>JetBrainsMono-Bold.ttf</string>
		<string>JetBrainsMono-Italic.ttf</string>
		<string>JetBrainsMono-Medium.ttf</string>
		<string>JetBrainsMono-Regular.ttf</string>
		<string>LexendDeca-Bold.ttf</string>
		<string>LexendDeca-Medium.ttf</string>
		<string>LexendDeca-Regular.ttf</string>
		<string>LexendDeca-SemiBold.ttf</string>
		<string>Overpass-Black.ttf</string>
		<string>Overpass-BlackItalic.ttf</string>
		<string>Overpass-Bold.ttf</string>
		<string>Overpass-BoldItalic.ttf</string>
		<string>Overpass-ExtraBold.ttf</string>
		<string>Overpass-ExtraBoldItalic.ttf</string>
		<string>Overpass-ExtraLight.ttf</string>
		<string>Overpass-ExtraLightItalic.ttf</string>
		<string>Overpass-Italic.ttf</string>
		<string>Overpass-Light.ttf</string>
		<string>Overpass-LightItalic.ttf</string>
		<string>Overpass-Medium.ttf</string>
		<string>Overpass-MediumItalic.ttf</string>
		<string>Overpass-Regular.ttf</string>
		<string>Overpass-SemiBold.ttf</string>
		<string>Overpass-SemiBoldItalic.ttf</string>
		<string>Overpass-Thin.ttf</string>
		<string>Overpass-ThinItalic.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>SplineSansMono-Bold.ttf</string>
		<string>SplineSansMono-Medium.ttf</string>
		<string>SplineSansMono-Regular.ttf</string>
		<string>SplineSansMono-SemiBold.ttf</string>
		<string>WorkSans-Bold.ttf</string>
		<string>WorkSans-Medium.ttf</string>
		<string>WorkSans-Regular.ttf</string>
	</array>
</dict>
</plist>
